<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="~/CoolAdmin-master/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">

                <!--Ana Sayfa-->
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>AnaSayfa
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/Home/Index">Genel İstatistikler</a>
                        </li>
                        <li>
                            <a href="index2.html">Son Hareketler</a>
                        </li>
                    </ul>
                </li>

                <!--Anketlerim-->
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Anketlerim
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/MyAllSurveys/Index">Tüm Anketler</a>
                        </li>
                        <li>
                            <a href="index2.html">Taslaklar</a>
                        </li>
                        <li>
                            <a href="index3.html">Herkese Açık Anketler</a>
                        </li>
                        <li>
                            <a href="index4.html">Özel Anketler</a>
                        </li>
                    </ul>
                </li>

                <!--Yeni Anket-->
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Yeni Anket
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Anket Şablonları</a>
                        </li>
                        <li>
                            <a href="/MakeSpecialSurvey/Index">Özel Anket Oluştur</a>
                        </li>
                    </ul>
                </li>

				<!--Herkese Açık Anketler-->
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Herkese Açık Anketler
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Popüler Anketler</a>
                        </li>
                        <li>
                            <a href="index2.html">Yeni Eklenenler</a>
                        </li>
                        <li>
                            <a href="index3.html">Kategoriler</a>
                        </li>
                    </ul>
                </li>

				<!--Soru Havuzu-->
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Soru Havuzu
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Soru Ara</a>
                        </li>
                        <li>
                            <a href="index2.html">Popüler Sorular</a>
                        </li>
                        <li>
                            <a href="index3.html">Yeni Eklenen Sorular</a>
                        </li>
                    </ul>
                </li>

				<!--Sonuçlar-->
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Sonuçlar
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Genel Sonuçlar</a>
                        </li>
                        <li>
                            <a href="index2.html">Detaylı Görünüm</a>
                        </li>
                        <li>
                            <a href="index3.html">Rapor İndir</a>
                        </li>
                    </ul>
                </li>

				<!--Ayarlar-->
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Ayarlar
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Profil Ayarları</a>
                        </li>
                        <li>
                            <a href="index2.html">Şifre Değiştir</a>
                        </li>
                        <li>
                            <a href="index3.html">Bildirim Tercihleri</a>
                        </li>
                        <li>
                            <a href="index3.html">Dil Ayarları</a>
                        </li>
                    </ul>
                </li>

				<!--Yardım-->
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Yardım
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">Kılavuzlar</a>
                        </li>
                        <li>
                            <a href="index2.html">Sık Sorulan Sorular</a>
                        </li>
                        <li>
                            <a href="index3.html">Destek Talebi Gönder</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</aside>
