@{
    //SurveyMake
    ViewData["Title"] = "Index";
    Layout = "~/Views/CreatorLayout/Index.cshtml";
}

<link rel="stylesheet" href="~/css/surveymake.css" asp-append-version="true" />


<form>
    <div style="display: flex" id="deneme">

        <div>
            <div v-for="(question, index, answerType) in questions" :key="question.id" class="question">
                <label>{{index + 1}}. SORU </label>
                <br>
                <input type="text">
                <label>Cevap Türü:</label>
                <select id="answerType" v-model="question.answerType">
                    <option value="Kısa Yanıt">Kısa Yanıt</option>
                    <option value="Çoktan Seçmeli">Çoktan Seçmeli</option>
                </select>
                <button v-on:click.prevent="removeQuestion(index)">Soru Sil</button>

                <hr />

                <div v-if="question.answerType==='Çoktan Seçmeli'">
                    <div v-for="(option,index) in question.options" :key="option.id" class="option">
                        <label class="optionLabel"> {{index +1}}.Seçenek </label>
                        <input class="optionInput" type="text" v-model="option.text" />
                        <button v-on:click.prevent="removeOption(question,index)">SİL</button>
                        <hr />
                    </div>
                    <button v-on:click.prevent="addOption(question)">Seçenek Ekle</button>
                </div>
            </div>


        </div>

        <div>
            <button class="soruEkleButton" v-on:click.prevent="addQuestion">Soru Ekle</button>
        </div>

        <button class="anketiBitirButton">Anketi Bitir</button>

    </div>
</form>
<script src="~/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
<script src="~/js/Vue1.js"></script>


